# Virtual environments
venv/
.env/
.venv/
env/
rppg_venv/

# Jupyter / notebooks
.ipynb_checkpoints/

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/

theses.txt

# __pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Not useful data to store remotely
data/Enrolled_aligned/
data/verification/mediapipe_env/
